:root {
  --main-bg: var(--very-pale-blue);
  --card-bg: var(--white);
  --slider-bg: var(--strong-cyan);
  --toggle-bg: var(--gray);
  --disc-bg: var(--gray-red);
  --cte-bg: var(--desat-blue);

  --text: var(--blue-gray);
  --disc-txt: var(--light-red);
  --btn-txt: var(--pale-blue);
  --slider: var(--soft-cyan);
  --empty-slider: var(--light-gray);
  --attr-color: rgb(145, 169, 247);

  --page-bg-img: url('/images/bg-pattern.svg');
  --checkmark-icon: url('/images/icon-check.svg');
  --slider-icon: url('/images/icon-slider.svg');
  --circle-img: url('/images/pattern-circles.svg');
}

body {
  max-height: 100vh;
  font-size: 15px;
  font-family: 'Manrope', sans-serif;
  color: var(--text);
  background: var(--main-bg) var(--page-bg-img) no-repeat;
}

.flex {
  display: flex;
}

/* Containers */
.wrapper {
  max-height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.banner {
  height: 150px;
  flex-direction: column;
  justify-content: center;
  background: var(--circle-img) no-repeat center;
  text-align: center;
  margin-top: 2rem;
}

.card {
  width: 40%;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);
}

/* TODO: Even out Padding */
/* Wrappers */
.numbers-wrap {
  justify-content: space-between;
}

.views-wrap {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.price-wrap {
  font-size: 16px;
  color: var(--cte-bg);
}

.billing-wrap {
  justify-content: flex-end;
}

/*CTA Content */
.cta-wrap {
  justify-content: space-between;
  border-top: 1px solid var(--empty-slider);
  padding: 1rem;
}

.checklist {
  list-style: circle outside var(--checkmark-icon);
  font-size: 12px;
}

.checklist li {
  padding-left: 10px;
}

/* TODO: Text Styles */
.banner-title {
  font-size: 28px;
  color: var(--cte-bg);
}

.banner-subtitle {
  font-size: 15px;
}

.price {
  font-size: 28px;
  font-weight: 800;
}

/* Footer */
.footer {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1.2px;
}

.footer a {
  color: var(--attr-color);
}

.footer a:hover {
  color: var(--attr-color);
  font-weight: bold;
}
