:root {
  --main-bg: var(--very-pale-blue);
  --card-bg: var(--white);
  --slider-bg: var(--strong-cyan);
  --slider-bg-active: var(--dark-cyan);
  --toggle-bg: var(--gray);
  --disc-bg: var(--gray-red);
  --cta-bg: var(--desat-blue);

  --slider: var(--soft-cyan);
  --empty-slider: var(--light-gray);
  --text: var(--blue-gray);
  --disc-text: var(--light-red);
  --btn-txt: var(--pale-blue);
  --attr-color: rgb(145, 169, 247);

  --page-bg-img: url('../images/bg-pattern.svg');
  --checkmark-icon: url('../images/icon-check.svg');
  --slider-icon: url('../images/icon-slider.svg');
  --circle-img: url('../images/pattern-circles.svg');
}

body {
  min-height: 100vh;
  font-size: 15px;
  font-family: 'Manrope', sans-serif;
  color: var(--text);
  background: var(--main-bg) var(--page-bg-img) no-repeat;
}

.flex {
  display: flex;
}

.price-wrap.mobile {
  display: none;
}

.billing-disc .short-text {
  display: none;
}

/* Containers */
.wrapper {
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.banner {
  height: 145px;
  flex-direction: column;
  justify-content: center;
  background: var(--circle-img) no-repeat center;
  text-align: center;
  margin-top: 1rem;
}

.card {
  width: fit-content;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);
}

@media screen and (min-width: 1024px) {
  .card {
    width: 40%;
  }
}

/* Wrappers */
.numbers-wrap {
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.views-wrap {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.billing-wrap {
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin: 0px 10px;
  padding: 10px;
  font-size: 12px;
}

/*CTA Content */
.cta-wrap {
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid var(--empty-slider);
  padding: 15px;
}

.cta-list {
  width: fit-content;
  flex-direction: column;
  gap: 10px;
  list-style: circle outside var(--checkmark-icon);
  font-size: 12px;
  padding-left: 10px;
}

.cta-list li {
  padding-left: 10px;
}

.cta-btn {
  width: 45%;
  height: fit-content;
  align-self: center;
  font-size: 13px;
  font-weight: 600;
  color: var(--btn-txt);
  background-color: var(--cta-bg);
  border-radius: 25px;
  padding: 15px;
}

.cta-btn:hover {
  cursor: pointer;
  color: white;
}

.banner-title {
  font-size: 28px;
  color: var(--cta-bg);
}

.banner-subtitle {
  font-size: 15px;
}

.price {
  font-size: 36px;
  font-weight: 800;
  color: var(--cta-bg);
}

.billing-disc {
  color: var(--disc-text);
  background-color: var(--disc-bg);
  font-size: 10px;
  font-weight: 600;
  border-radius: 15px;
  padding: 5px 8px;
}

/* Footer */
.footer {
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1.2px;
}

.footer a {
  color: var(--attr-color);
}

.footer a:hover {
  color: var(--attr-color);
  font-weight: bold;
}
