@media screen and (min-width: 750px) {
  .card {
    max-width: 65%;
  }
}

@media screen and (max-width: 699px) {
  .card {
    min-width: 90%;
    gap: 1rem;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }

  .billing-disc .full-text {
    display: none;
  }

  .billing-disc .short-text {
    display: inline;
  }

  .price-wrap.desktop {
    display: none;
  }

  .banner {
    width: 95%;
    align-items: center;
  }

  .banner-title {
    width: 100%;
    font-size: 22px;
  }

  .banner-subtitle {
    font-size: 13px;
    width: 60%;
  }

  .numbers-wrap {
    justify-content: center;
  }

  .views-wrap {
    font-size: 12px;
  }

  .price-wrap {
    font-size: 14px;
  }

  .price-wrap.mobile {
    display: block;
    text-align: center;
  }

  .billing-wrap {
    justify-content: center;
    gap: 5px;
    font-size: 11px;
    padding: 0;
    margin: 20px 0;

  }

  .cta-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .cta-list {
    width: fit-content;
  }

  .cta-btn {
    width: 80%;
  }

  .footer {
    margin-top: 30px;
  }
}
